html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #f30000c0;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (max-width: 1080px) {
    .container {
      width: 100%;
      height: auto;
    }
  }
}

.square-div {
  width: 80%;
}

.square {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  object-fit: cover;
}

.rectangle {
  height: 75%;
  width: 50%;
}
